@model IEnumerable<Stride3DMarketPlace.Persistance.Models.Asset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reviews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EngineCompatibility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GitRepository)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatestVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.License)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NugetPackage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleasedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetReleaseState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssetResource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedById)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reviews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCompatibility)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GitRepository)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatestVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.License)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NugetPackage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleasedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetReleaseState.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssetResource.BannerImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedById)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
