@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    ViewData["BodyClass"] = "register-page";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
<div class="register-box">
  <div class="register-logo">
    <a asp-controller="Home" asp-action="Index">
        <b>Stride3D</b>
        <br>
        Publisher Portal
    </a>
  </div>

  <div class="card">
    <div class="card-body register-card-body">
        <p class="login-box-msg">@ViewData["Title"]</p>

        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    <div class="alert alert-danger">
                        <p>
                            <i class="icon fas fa-ban"></i> 
                            This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                            Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                        </p>
                    </div>
                </p>
            }
            else
            {
                 <p>
                     <div class="alert alert-success">
                        <p>
                            <i class="icon fas fa-check"></i> 
                            Please check your email to confirm your account.
                        </p>
                    </div>
                </p>
            }
        }

    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

