@using OpenMarketPlace.Persistance.Enums;

@model IEnumerable<OpenMarketPlace.Publisher.Dtos.AssetDtos.IndexAssetDto>

@{
    ViewData["PageHeader"] = "Assets";
    ViewData["Title"] = "Assets Overview";
}

<div class="row">

    <!-- /.col -->
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" id="accordion">

                <h3 class="card-title">Assets Overview</h3>

                <div class="card-tools">

                    <a class="btn btn-sm">
                        <form class="d-flex form-horizontal" action="/Assets/Search" id="search-asset-form" method="post">
                            <div class="input-group">
                                <input class="form-control form-control-sm" type="search" id="searchAssetInputText" placeholder="Search Asset" aria-label="Search">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </a>

                    <a class="btn btn-sm btn-tertiary collapsed" 
                        data-toggle="collapse"
                        href="#collapseOne"
                        title="Filter"
                        data-bs-toggle="tooltip">
                            <i class="fas fa-filter"></i>
                    </a>

                    @*<a class="btn btn-sm btn-tertiary">
                        <i class="fas fa-columns"></i>
                    </a>*@

                    <a class="btn btn-sm btn-danger" 
                        data-toggle="modal" 
                        data-target="#create-asset-modal"
                        title="Filter"
                        data-bs-toggle="tooltip">
                            <i class="fas fa-plus-circle mr-1"></i>
                            Create Asset
                    </a>

                </div>

                <br />

                <div id="collapseOne" class="collapse mt-5" data-parent="#accordion" style="">
                    
                    <form>
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group" id="asset-category-form-group">
                                    <label for="AssetCategoryId" class="control-label">Asset Category</label>
                                    <select class="form-control form-control-sm select2bs4" id="asset-category-id" name="AssetCategoryId" style="width: 100%;">
                                    </select>
                                </div>
                            </div>

                            <div class="col-3">

                                <div class="form-group" id="asset-release-state-form-group">
                                    <label for="AssetReleaseStateId" class="control-label">Asset State</label>
                                    <select class="form-control form-control-sm select2bs4" id="asset-release-state-id" name="AssetReleaseStateId" style="width: 100%;">
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-1 justify-content-end">
                            <button class="btn btn-danger btn-sm mr-2" type="submit">
                                Apply Filters
                            </button>
                            <button class="btn btn-default btn-sm" type="reset">
                                Reset
                            </button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body p-0">

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AssetStatus)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Version)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ModifiedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReleasedAt)
                            </th>
                            <th>
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model) {
                                <tr>
                                    <td class="align-middle">
                                        <div class="package-info-box">
                                            <span class="package-info-box-icon">
                                                <i class="fas fa-image"></i>
                                            </span>

                                            <div class="info-box-content">
                                                <span class="package-info-box-content-heading">
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </span>
                                                <span class="package-info-box-content-subheading">
                                                    @Html.DisplayFor(modelItem => item.AssetCategory) 
                                                </span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </td>

                                    <td class ="align-middle">
                                        @if(item.AssetStatus == AssetStatusEnums.Published){

                                            <span class="badge bg-success">Published</span>
                                        }
                                        else if (item.AssetStatus == AssetStatusEnums.Decapreated)
                                        {
                                            <span class="badge bg-danger">Decapreciated</span>

                                        }
                                        else if (item.AssetStatus == AssetStatusEnums.Draft)
                                        {
                                            <span class="badge bg-primary">Draft</span>
                                        }
                                    </td>

                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.Version)
                                    </td>

                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>

                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.ModifiedAt)
                                    </td>

                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => item.ReleasedAt)
                                    </td>

                                    <td class="align-middle">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-sm dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                                                <span class="sr-only">Action</span>
                                            </button>
                                            <div class="dropdown-menu" role="menu" style="">
                                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                                    <span class="far fa-edit mr-2"></span>
                                                    Edit
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">
                                                    <span class="fas fa-store mr-2"></span>
                                                    View in store
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.card-body -->
        </div>
    <!-- /.card -->
    </div>
<!-- /.col -->

</div>

@section Styles {

    <style>
        .package-info-box {
            border-radius: 0.25rem;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 1rem;
            min-height: 80px;
            padding: 0.5rem;
            position: relative;
            width: 100%;
        }

        .package-info-box-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.8;
            flex: 1;
            padding: 0 10px;
            overflow: hidden;
        }

        .package-info-box-content-heading {
            display: block;
            margin-top: 0.25rem;
            font-weight: 700;
        }

        .package-info-box-content-subheading {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .package-info-box-icon {

            background-size: 100%;
            background-color: #e0e0e0;

            border-radius: 0.25rem;
            align-items: center;
            display: -ms-flexbox;
            display: flex;
            font-size: 1.875rem;
            justify-content: center;
            text-align: center;
            height: 70px;
            width: 70px;
            min-width: 70px;
            margin-right: 15px;
        }

    </style>
}

@section Scripts{
    <script>
        $(function () {

            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })

            //Initialize Select2 Elements
            $('#asset-category-id').select2({
                allowClear: true,
                placeholder: 'Any',
                theme: 'bootstrap4'
            });
            $('#asset-release-state-id').select2({
                allowClear: true,
                placeholder: 'Any',
                theme: 'bootstrap4'
            });

            // add asset-category options
            var data = @Html.Raw(Json.Serialize(ViewBag.AssetCategories));
            var select = $('#asset-category-id');
            $.each(data, function (index, item) {

                var newOption = new Option(item.text, item.value, false, false);
                select.append(newOption).trigger('change');
            });

            $('#asset-category-id').val(null).trigger('change');

            // add asset-release-state-id options
            var data = @Html.Raw(Json.Serialize(ViewBag.AssetReleaseStates));
            var select = $('#asset-release-state-id');
            $.each(data, function (index, item) {

                var newOption = new Option(item.text, item.value, false, false);
                select.append(newOption).trigger('change');
            });

            $('#asset-release-state-id').val(null).trigger('change');

        });

    </script>
}